Repository acot-a11y/acot, changes with the labels that .github/labeler.yml gives for each.
All labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

.github/labeler.yml:

A-documentation:
  - '**/*.md'
  - 'docs/**'

A-example:
  - 'examples/**'

A-foundation:
  - 'packages/cli/**'
  - 'packages/config/**'
  - 'packages/connection/**'
  - 'packages/core/**'
  - 'packages/document/**'
  - 'packages/factory/**'
  - 'packages/logger/**'
  - 'packages/module-loader/**'
  - 'packages/reporter/**'
  - 'packages/runner/**'
  - 'packages/types/**'

A-utilities:
  - 'packages/find-chrome/**'
  - 'packages/html-pickup/**'
  - 'packages/mock/**'
  - 'packages/schema-validator/**'
  - 'packages/utils/**'

A-config:
  - 'packages/acot-config/**'
  - 'packages/acot-config-*/**'

A-preset:
  - 'packages/acot-preset-*/**'

A-runner:
  - 'packages/acot-runner/**'
  - 'packages/acot-runner-*/**'

A-reporter:
  - 'packages/acot-reporter/**'
  - 'packages/acot-reporter-*/**'

chore: update dependency strip-ansi to v7
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-pretty/package.json
  packages/cli/package.json
  packages/document/package.json
  packages/html-pickup/package.json
  packages/logger/package.json
  packages/reporter/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-reporter

feat(acot-runner-sitemap): add behavior to merge `config.paths` with collected paths
  packages/acot-runner-sitemap/src/__tests__/index.test.ts
  packages/acot-runner-sitemap/src/index.ts
Labels: A-runner

fix(cli): fix default value for `parallel` option
  packages/cli/README.md
  packages/cli/src/commands/run.ts
Labels: A-documentation, A-foundation

refactor(core): change to consume browser queue on a timer-based
  packages/core/src/browser-pool.ts
Labels: A-foundation

revert(core): remove `immutable` rule flags
  docs/developer-guide/rule.md
  packages/acot-preset-axe/src/create-rule.ts
  packages/acot-preset-wcag/src/rules/focusable-has-indicator.ts
  packages/acot-preset-wcag/src/rules/img-has-name.ts
  packages/acot-preset-wcag/src/rules/interactive-has-enough-size.ts
  packages/acot-preset-wcag/src/rules/interactive-has-name.ts
  packages/acot-preset-wcag/src/rules/interactive-supports-focus.ts
  packages/acot-preset-wcag/src/rules/link-has-name.ts
  packages/acot-preset-wcag/src/rules/page-has-title.ts
  packages/acot-preset-wcag/src/rules/page-has-valid-lang.ts
  packages/core/src/rule-context.ts
  packages/core/src/tester.ts
  packages/types/src/rule.ts
Labels: A-documentation, A-foundation, A-preset

ci: refactor lint job step
  .github/workflows/ci.yml
Labels: none

chore: update dependency @types/lodash to v4.14.182
  packages/acot-runner-sitemap/package.json
  packages/core/package.json
  yarn.lock
Labels: A-foundation, A-runner

chore: update dependency @types/node to v14.18.16
  package.json
  yarn.lock
Labels: none

chore: update dependency type-fest to v0.21.3
  package.json
  packages/cli/package.json
  packages/document/package.json
  packages/factory/package.json
  packages/types/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency type-fest to v2.12.2
  package.json
  packages/cli/package.json
  packages/config/src/validator/config.validator.ts
  packages/document/package.json
  packages/factory/package.json
  packages/types/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency @types/validator to v13.7.2
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency emittery to ^0.11.0
  packages/acot-runner/package.json
  packages/core/package.json
  packages/mock/package.json
  packages/runner/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-runner

chore: streamline build script
  package.json
Labels: none

refactor(core): add more logs
  packages/core/src/browser-pool.ts
  packages/core/src/tester.ts
Labels: A-foundation

chore: publish
  CHANGELOG.md
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  examples/storybook6/CHANGELOG.md
  examples/storybook6/package.json
  lerna.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-runner-sitemap/CHANGELOG.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/CHANGELOG.md
  packages/acot-runner-storybook/package.json
  packages/acot-runner/CHANGELOG.md
  packages/acot-runner/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/document/CHANGELOG.md
  packages/document/package.json
Labels: A-documentation, A-example, A-foundation, A-config, A-preset, A-runner

chore: update typescript-eslint monorepo to v5.22.0
  package.json
  yarn.lock
Labels: none

chore: update dependency turbo to v1.2.8
  package.json
  yarn.lock
Labels: none

chore: update dependency chalk to v5
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-github/package.json
  packages/acot-reporter-pretty/package.json
  packages/cli/package.json
  packages/html-pickup/package.json
  packages/logger/package.json
  packages/reporter/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-reporter

chore: update dependency cli-truncate to v3
  packages/html-pickup/package.json
  yarn.lock
Labels: A-utilities

chore: update dependency css-select to v5
  packages/html-pickup/package.json
  yarn.lock
Labels: A-utilities

refactor(acot-reporter-github): dump endpoint logs
  packages/acot-reporter-github/src/index.ts
Labels: A-reporter

chore: publish
  CHANGELOG.md
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  examples/storybook6/CHANGELOG.md
  examples/storybook6/package.json
  lerna.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-reporter-github/CHANGELOG.md
  packages/acot-reporter-github/package.json
  packages/acot-runner-sitemap/CHANGELOG.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/CHANGELOG.md
  packages/acot-runner-storybook/package.json
  packages/acot-runner/CHANGELOG.md
  packages/acot-runner/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/document/CHANGELOG.md
  packages/document/package.json
  packages/mock/CHANGELOG.md
  packages/mock/package.json
  packages/runner/CHANGELOG.md
  packages/runner/package.json
Labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

refactor(acot-reporter-github): improve report api request timing
  packages/acot-reporter-github/src/index.ts
Labels: A-reporter

chore: publish
  CHANGELOG.md
  lerna.json
  packages/acot-reporter-github/CHANGELOG.md
  packages/acot-reporter-github/package.json
Labels: A-documentation, A-reporter

chore: update dependency eslint to v8.15.0
  package.json
  yarn.lock
Labels: none

perf(acot-preset-wcag): improve `focusable-has-indicator` performance
  packages/acot-preset-wcag/package.json
  packages/acot-preset-wcag/src/rules/focusable-has-indicator.ts
  yarn.lock
Labels: A-preset

chore: add `linkall` & `unlinkall` script
  package.json
  yarn.lock
Labels: none

chore: pin dependency lerna to 4.0.0
  package.json
  yarn.lock
Labels: none

chore: update typescript-eslint monorepo to v5.23.0
  package.json
  yarn.lock
Labels: none

feat(utils): add `isElementHidden` utility function
  packages/utils/src/index.ts
  packages/utils/src/is-element-hidden.ts
Labels: A-utilities

fix(acot-preset-wcag): improve rule apply for hidden elements
  packages/acot-preset-wcag/docs/rules/img-has-name.md
  packages/acot-preset-wcag/docs/rules/interactive-has-name.md
  packages/acot-preset-wcag/docs/rules/link-has-name.md
  packages/acot-preset-wcag/package.json
  packages/acot-preset-wcag/src/rules/img-has-name.ts
  packages/acot-preset-wcag/src/rules/interactive-has-name.ts
  packages/acot-preset-wcag/src/rules/interactive-supports-focus.ts
  packages/acot-preset-wcag/src/rules/link-has-name.ts
Labels: A-documentation, A-preset

feat(utils): add `isElementMatches` utilify function
  packages/utils/src/index.ts
  packages/utils/src/is-element-matches.ts
Labels: A-utilities

feat(acot-preset-wcag): add `ignore` option to `dialog-focus` rule
  packages/acot-preset-wcag/docs/rules/dialog-focus.md
  packages/acot-preset-wcag/package.json
  packages/acot-preset-wcag/src/rules/dialog-focus.ts
Labels: A-documentation, A-preset

feat(acot-preset-wcag): add `ignore` option to `img-has-name` rule
  packages/acot-preset-wcag/docs/rules/img-has-name.md
  packages/acot-preset-wcag/src/rules/img-has-name.ts
Labels: A-documentation, A-preset

feat(acot-preset-wcag): add `ignore` option to `interactive-has-enough-size` rule
  packages/acot-preset-wcag/docs/rules/interactive-has-enough-size.md
  packages/acot-preset-wcag/src/rules/interactive-has-enough-size.ts
Labels: A-documentation, A-preset

feat(acot-preset-wcag): add `ignore` option to `interactive-has-name` rule
  packages/acot-preset-wcag/docs/rules/interactive-has-name.md
  packages/acot-preset-wcag/src/rules/interactive-has-name.ts
Labels: A-documentation, A-preset

feat(acot-preset-wcag): add `ignore` option to `interactive-supports-focus` rule
  packages/acot-preset-wcag/docs/rules/interactive-supports-focus.md
  packages/acot-preset-wcag/src/rules/interactive-supports-focus.ts
Labels: A-documentation, A-preset

feat(acot-preset-wcag): add `ignore` option to `link-has-name` rule
  packages/acot-preset-wcag/docs/rules/link-has-name.md
  packages/acot-preset-wcag/src/rules/link-has-name.ts
Labels: A-documentation, A-preset

refactor(acot-preset-wcag): remove `interactive-supports-focus` from recommended set
  packages/acot-preset-axe/README.md
  packages/acot-preset-wcag/README.md
  packages/acot-preset-wcag/src/configs/recommended.ts
  packages/acot-preset-wcag/src/rules/interactive-supports-focus.ts
Labels: A-documentation, A-preset

feat(document): add progress indicator to documentation testing
  packages/cli/src/commands/preset-test.ts
  packages/document/package.json
  packages/document/src/__tests__/__snapshots__/doc-reporter.test.ts.snap
  packages/document/src/__tests__/doc-reporter.test.ts
  packages/document/src/doc-reporter.ts
  packages/document/src/doc-runner.ts
  packages/document/src/index.ts
Labels: A-foundation
