Repository acot-a11y/acot, changes with the labels that .github/labeler.yml gives for each.
All labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

chore: update dependency @types/lodash to v4.14.180
  packages/acot-runner-sitemap/package.json
  packages/core/package.json
  yarn.lock
Labels: A-foundation, A-runner

chore: update dependency scaffdog to v1.2.0
  package.json
  yarn.lock
Labels: none

chore: update dependency eslint-plugin-import to v2.25.4
  package.json
  yarn.lock
Labels: none

chore: update dependency tailwindcss to v2.2.19
  packages/document/package.json
  yarn.lock
Labels: A-foundation

test: fix `link-has-name` test cases
  packages/acot-preset-wcag/docs/rules/link-has-name.md
Labels: A-documentation, A-preset

chore: update dependency emittery to ^0.10.0
  packages/acot-runner/package.json
  packages/core/package.json
  packages/mock/package.json
  packages/runner/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-runner

chore: update dependency prettier to v2.6.2
  package.json
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

fix: upgrade to `emittery@0.10.0`
  packages/acot-runner-sitemap/src/__tests__/index.test.ts
  packages/acot-runner-sitemap/src/index.ts
  packages/acot-runner/src/index.ts
  packages/core/src/acot.ts
  packages/mock/src/core.ts
  packages/mock/src/runner.ts
Labels: A-foundation, A-utilities, A-runner

chore: update commitlint monorepo to v16.2.4
  package.json
  yarn.lock
Labels: none

chore: update dependency nock to v13.2.4
  packages/acot-reporter-github/package.json
  yarn.lock
Labels: A-reporter

chore: update dependency eslint-plugin-import to v2.26.0
  package.json
  yarn.lock
Labels: none

chore: update dependency postcss-import to v14.1.0
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update actions/download-artifact action to v3
  .github/workflows/ci.yml
Labels: none

chore: update actions/setup-node action to v3
  .github/workflows/ci.yml
Labels: none

chore: update actions/upload-artifact action to v3
  .github/workflows/ci.yml
Labels: none

chore: update dependency husky to v7
  package.json
  yarn.lock
Labels: none

chore: update dependency mock-fs to v5
  package.json
  yarn.lock
Labels: none

chore: update typescript-eslint monorepo to v5
  package.json
  yarn.lock
Labels: none

chore: update wagoid/commitlint-github-action action to v4
  .github/workflows/commitlint.yml
Labels: none

chore: update dependency postcss to v8.4.13
  packages/document/package.json
  yarn.lock
Labels: A-foundation

style: format
  packages/acot-preset-axe/src/create-rule.ts
  packages/acot-preset-wcag/src/rules/link-has-name.ts
  packages/acot-reporter-pretty/src/index.ts
  packages/acot-runner/src/index.ts
  packages/cli/src/command.ts
  packages/config/src/validator/config.validator.ts
  packages/core/src/tester.ts
  packages/utils/src/get-event-listeners.ts
Labels: A-foundation, A-utilities, A-preset, A-runner, A-reporter

chore: update actions/checkout action to v3
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
Labels: none

chore: update dependency eslint-plugin-jest to v26
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/node-fetch to v2.6.1
  packages/acot-runner-sitemap/package.json
  yarn.lock
Labels: A-runner

chore: update dependency typescript to v4.6.4
  package.json
  yarn.lock
Labels: none

refactor: update exception value to handle assuming `unknown`
  packages/core/src/rule-context.ts
  packages/core/src/tester.ts
  packages/utils/src/try-resolve-module.ts
Labels: A-foundation, A-utilities

chore: update dependency eslint to v8
  package.json
  yarn.lock
Labels: none

fix: use puppeteer instance of default export
  packages/core/src/browser.ts
Labels: A-foundation

fix: fix a bug when Node not found on report
  packages/acot-reporter-dot/src/index.ts
  packages/acot-reporter-pretty/src/index.ts
  packages/document/src/doc-result-reporter.ts
  packages/html-pickup/src/__tests__/index.test.ts
  packages/html-pickup/src/index.ts
Labels: A-foundation, A-utilities, A-reporter

chore: add `.node-version` file
  .node-version
Labels: none

feat(acot-runner-storybook): add support storybook v6
  examples/storybook5/.storybook/main.js
  examples/storybook5/package.json
  examples/storybook5/stories/1-Button.stories.jsx
  examples/storybook6/.babelrc.json
  examples/storybook6/.storybook/main.js
  examples/storybook6/.storybook/preview.js
  examples/storybook6/package.json
  examples/storybook6/stories/Button.jsx
  examples/storybook6/stories/Button.stories.jsx
  examples/storybook6/stories/Header.jsx
  examples/storybook6/stories/Header.stories.jsx
  examples/storybook6/stories/Introduction.stories.mdx
  examples/storybook6/stories/Page.jsx
  examples/storybook6/stories/Page.stories.jsx
  examples/storybook6/stories/assets/code-brackets.svg
  examples/storybook6/stories/assets/colors.svg
  examples/storybook6/stories/assets/comments.svg
  examples/storybook6/stories/assets/direction.svg
  examples/storybook6/stories/assets/flow.svg
  examples/storybook6/stories/assets/plugin.svg
  examples/storybook6/stories/assets/repo.svg
  examples/storybook6/stories/assets/stackalt.svg
  examples/storybook6/stories/button.css
  examples/storybook6/stories/header.css
  examples/storybook6/stories/page.css
  package.json
  packages/acot-runner-storybook/README.md
  packages/acot-runner-storybook/src/index.ts
  yarn.lock
Labels: A-documentation, A-example, A-runner

feat(acot-runner-storybook): add collect stories timeout error
  packages/acot-runner-storybook/src/index.ts
Labels: A-runner

chore: update dependency @types/unist to v2.0.6
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency markdown-table to v3
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency node-fetch to v3
  packages/acot-runner-sitemap/package.json
  yarn.lock
Labels: A-runner

chore: update dependency unist-util-select to v4
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: introduce turborepo
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/package.json
  turbo.json
  yarn.lock
Labels: A-preset

chore: update dependency puppeteer to v13.7.0
  packages/core/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency log-symbols to v5
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-pretty/package.json
  packages/document/package.json
  packages/reporter/package.json
  yarn.lock
Labels: A-foundation, A-reporter

chore: update dependency string-width to v5
  packages/logger/package.json
  yarn.lock
Labels: A-foundation

.github/labeler.yml:

A-documentation:
  - '**/*.md'
  - 'docs/**'

A-example:
  - 'examples/**'

A-foundation:
  - 'packages/cli/**'
  - 'packages/config/**'
  - 'packages/connection/**'
  - 'packages/core/**'
  - 'packages/document/**'
  - 'packages/factory/**'
  - 'packages/logger/**'
  - 'packages/module-loader/**'
  - 'packages/reporter/**'
  - 'packages/runner/**'
  - 'packages/types/**'

A-utilities:
  - 'packages/find-chrome/**'
  - 'packages/html-pickup/**'
  - 'packages/mock/**'
  - 'packages/schema-validator/**'
  - 'packages/utils/**'

A-config:
  - 'packages/acot-config/**'
  - 'packages/acot-config-*/**'

A-preset:
  - 'packages/acot-preset-*/**'

A-runner:
  - 'packages/acot-runner/**'
  - 'packages/acot-runner-*/**'

A-reporter:
  - 'packages/acot-reporter/**'
  - 'packages/acot-reporter-*/**'
