Repository acot-a11y/acot, changes with the labels that .github/labeler.yml gives for each.
All labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

chore: update dependency eslint to v7.19.0
  package.json
  yarn.lock
Labels: none

chore: update dependency puppeteer to v6
  packages/core/package.json
  yarn.lock
Labels: A-foundation

fix: update dependency puppeteer-core to v6
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/core/package.json
  packages/document/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-runner

fix: update dependency puppeteer-core to v7
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/core/package.json
  packages/document/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-runner

chore: update dependency @types/yargs to v16
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency lint-staged to v10.5.4
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/prettier to v2.2.0
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency tailwindcss to v2.0.3
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update typescript-eslint monorepo to v4.15.0
  package.json
  yarn.lock
Labels: none

chore: update dependency ts-jest to v26.5.1
  package.json
  yarn.lock
Labels: none

chore: update dependency puppeteer to v7
  packages/core/package.json
  yarn.lock
Labels: A-foundation

fix: update dependency fastify-static to v4
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency prettier-plugin-packagejson to v2.2.10
  package.json
  yarn.lock
Labels: none

chore: update commitlint monorepo to v12
  package.json
  yarn.lock
Labels: none

chore: update dependency typescript to v4.2.3
  package.json
  yarn.lock
Labels: none

chore: update dependency postcss to v8.2.8
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency @types/prettier to v2.2.3
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency eslint-plugin-jest to v24.3.2
  package.json
  yarn.lock
Labels: none

chore: update dependency ts-jest to v26.5.4
  package.json
  yarn.lock
Labels: none

chore: update typescript-eslint monorepo to v4.19.0
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/yargs to v16.0.1
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency postcss-nested to v5.0.5
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency husky to v5
  package.json
  yarn.lock
Labels: none

chore: update dependency lerna to v4
  package.json
  yarn.lock
Labels: none

chore: update wagoid/commitlint-github-action action to v3
  .github/workflows/commitlint.yml
Labels: none

chore: update dependency @types/jest to v26.0.22
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/node to v14.14.37
  package.json
  yarn.lock
Labels: none

fix: update dependency puppeteer-core to v8
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/core/package.json
  packages/document/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-runner

chore: update dependency tailwindcss to v2.0.4
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency puppeteer to v8
  packages/core/package.json
  yarn.lock
Labels: A-foundation

chore: update puppeteer to v8
  examples/html/package.json
  examples/storybook5/package.json
  packages/acot-preset-wcag/src/rules/focusable-has-indicator.ts
  packages/acot-preset-wcag/src/rules/interactive-has-enough-size.ts
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/config/src/validator/config.validator.ts
  packages/core/package.json
  packages/document/package.json
  packages/find-chrome/src/index.ts
  packages/types/package.json
  packages/types/src/config.ts
  packages/utils/package.json
  yarn.lock
Labels: A-example, A-foundation, A-utilities, A-preset, A-runner

chore: update dependency eslint-config-prettier to v8
  package.json
  yarn.lock
Labels: none

chore: tweak ESLint configuration
  .eslintrc.js
Labels: none

chore: update dependency eslint to v7.23.0
  package.json
  yarn.lock
Labels: none

chore: tweak renovate config
  renovate.json
Labels: none

chore: remove puppeteer-core types
  packages/core/package.json
  packages/document/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: A-foundation, A-utilities

chore: add npm keywords
  packages/acot-config/package.json
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/package.json
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-pretty/package.json
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/acot-runner/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/connection/package.json
  packages/core/package.json
  packages/document/package.json
  packages/factory/package.json
  packages/logger/package.json
  packages/mock/package.json
  packages/module-loader/package.json
  packages/reporter/package.json
  packages/runner/package.json
  packages/types/package.json
  packages/utils/package.json
Labels: A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

chore: update dependency postcss-import to v14.0.1
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update commitlint monorepo to v12.1.1
  package.json
  yarn.lock
Labels: none

fix: update dependency css-select to v4
  packages/html-pickup/package.json
  yarn.lock
Labels: A-utilities

.github/labeler.yml:

A-documentation:
  - '**/*.md'
  - 'docs/**'

A-example:
  - 'examples/**'

A-foundation:
  - 'packages/cli/**'
  - 'packages/config/**'
  - 'packages/connection/**'
  - 'packages/core/**'
  - 'packages/document/**'
  - 'packages/factory/**'
  - 'packages/logger/**'
  - 'packages/module-loader/**'
  - 'packages/reporter/**'
  - 'packages/runner/**'
  - 'packages/types/**'

A-utilities:
  - 'packages/find-chrome/**'
  - 'packages/html-pickup/**'
  - 'packages/mock/**'
  - 'packages/schema-validator/**'
  - 'packages/utils/**'

A-config:
  - 'packages/acot-config/**'
  - 'packages/acot-config-*/**'

A-preset:
  - 'packages/acot-preset-*/**'

A-runner:
  - 'packages/acot-runner/**'
  - 'packages/acot-runner-*/**'

A-reporter:
  - 'packages/acot-reporter/**'
  - 'packages/acot-reporter-*/**'
