Repository acot-a11y/acot, changes with the labels that .github/labeler.yml gives for each.
All labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

.github/labeler.yml:

A-documentation:
  - '**/*.md'
  - 'docs/**'

A-example:
  - 'examples/**'

A-foundation:
  - 'packages/cli/**'
  - 'packages/config/**'
  - 'packages/connection/**'
  - 'packages/core/**'
  - 'packages/document/**'
  - 'packages/factory/**'
  - 'packages/logger/**'
  - 'packages/module-loader/**'
  - 'packages/reporter/**'
  - 'packages/runner/**'
  - 'packages/types/**'

A-utilities:
  - 'packages/find-chrome/**'
  - 'packages/html-pickup/**'
  - 'packages/mock/**'
  - 'packages/schema-validator/**'
  - 'packages/utils/**'

A-config:
  - 'packages/acot-config/**'
  - 'packages/acot-config-*/**'

A-preset:
  - 'packages/acot-preset-*/**'

A-runner:
  - 'packages/acot-runner/**'
  - 'packages/acot-runner-*/**'

A-reporter:
  - 'packages/acot-reporter/**'
  - 'packages/acot-reporter-*/**'

chore: switch to setup-node cache instead of actions/cache
  .github/workflows/ci.yml
Labels: none

chore: update dependency @types/jest to v26.0.24
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/node to v14.17.9
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/micromatch to v4.0.2
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/config/package.json
  packages/document/package.json
  yarn.lock
Labels: A-foundation, A-runner

chore: update dependency @types/serve-handler to v6.1.1
  packages/acot-runner-sitemap/package.json
  yarn.lock
Labels: A-runner

chore: update dependency @types/text-table to v0.2.2
  packages/acot-reporter-pretty/package.json
  packages/reporter/package.json
  yarn.lock
Labels: A-foundation, A-reporter

chore: update dependency @types/yargs to v16.0.4
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency postcss-nested to v5.0.6
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency prettier-plugin-packagejson to v2.2.11
  package.json
  yarn.lock
Labels: none

feat: allow multiple reporters
  packages/cli/src/commands/run.ts
  packages/config/src/resolver.ts
  packages/config/src/validator/config.validator.ts
  packages/types/src/config.ts
Labels: A-foundation

chore: update dependency @types/node-fetch to v2.5.12
  packages/acot-runner-sitemap/package.json
  yarn.lock
Labels: A-runner

chore: update dependency @types/update-notifier to v5.1.0
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency @types/wait-on to v5.3.1
  packages/connection/package.json
  yarn.lock
Labels: A-foundation

feat(mock): add runner mock
  packages/mock/src/core.ts
  packages/mock/src/index.ts
  packages/mock/src/runner.ts
Labels: A-utilities

feat: add acot-reporter-github
  README.md
  packages/acot-reporter-github/.gitignore
  packages/acot-reporter-github/README.md
  packages/acot-reporter-github/package.json
  packages/acot-reporter-github/src/__tests__/index.test.ts
  packages/acot-reporter-github/src/index.ts
  packages/acot-reporter-github/tsconfig.json
  yarn.lock
Labels: A-documentation, A-reporter

Update dependency @types/node to v14.18.4
  package.json
  yarn.lock
Labels: none

Update dependency eslint to v7.32.0
  package.json
  yarn.lock
Labels: none

refactor: use typebox
  packages/acot-preset-axe/package.json
  packages/acot-preset-axe/src/create-rule.ts
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-sitemap/src/index.ts
  packages/acot-runner-storybook/package.json
  packages/acot-runner-storybook/src/index.ts
Labels: A-preset, A-runner

Update dependency postcss-import to v14.0.2
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: upgrade renovate config
  renovate.json
Labels: none

Update dependency @types/validator to v13.7.1
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: tweak renovate config
  renovate.json
Labels: none

chore: pin dependencies
  packages/acot-reporter-github/package.json
  yarn.lock
Labels: A-reporter

chore: publish
  CHANGELOG.md
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  lerna.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-reporter-github/CHANGELOG.md
  packages/acot-reporter-github/package.json
  packages/acot-runner-sitemap/CHANGELOG.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/CHANGELOG.md
  packages/acot-runner-storybook/package.json
  packages/acot-runner/CHANGELOG.md
  packages/acot-runner/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/connection/CHANGELOG.md
  packages/connection/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/document/CHANGELOG.md
  packages/document/package.json
  packages/mock/CHANGELOG.md
  packages/mock/package.json
Labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

chore: update dependency eslint-plugin-jest to v24.7.0
  package.json
  yarn.lock
Labels: none

chore: update typescript-eslint monorepo to v4.33.0
  package.json
  yarn.lock
Labels: none

docs: fix reporter documents
  docs/configuration.md
  docs/naming-convention.md
  packages/acot-reporter-dot/README.md
  packages/acot-reporter-github/README.md
  packages/acot-reporter-pretty/README.md
Labels: A-documentation, A-reporter

fix(acot-reporter-github): fix verbose log
  packages/acot-reporter-github/src/index.ts
Labels: A-reporter

chore: publish
  CHANGELOG.md
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  lerna.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-reporter-dot/CHANGELOG.md
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-github/CHANGELOG.md
  packages/acot-reporter-github/package.json
  packages/acot-reporter-pretty/CHANGELOG.md
  packages/acot-reporter-pretty/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Labels: A-documentation, A-example, A-foundation, A-config, A-preset, A-reporter

fix(core): fix validation logic of rule options
  packages/core/src/tester.ts
Labels: A-foundation

feat(acot-reporter-github): add debug options
  packages/acot-reporter-github/README.md
  packages/acot-reporter-github/src/index.ts
Labels: A-documentation, A-reporter

chore: publish
  CHANGELOG.md
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  lerna.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-reporter-github/CHANGELOG.md
  packages/acot-reporter-github/package.json
  packages/acot-runner-sitemap/CHANGELOG.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/CHANGELOG.md
  packages/acot-runner-storybook/package.json
  packages/acot-runner/CHANGELOG.md
  packages/acot-runner/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/document/CHANGELOG.md
  packages/document/package.json
Labels: A-documentation, A-example, A-foundation, A-config, A-preset, A-runner, A-reporter

docs(acot-reporter-github): add example and screenshot
  packages/acot-reporter-github/README.md
  packages/acot-reporter-github/screenshot.png
Labels: A-documentation, A-reporter

chore: update dependency eslint-config-prettier to v8.5.0
  package.json
  yarn.lock
Labels: none

chore: update dependency prettier-plugin-packagejson to v2.2.17
  package.json
  yarn.lock
Labels: none

chore: update dependency postcss to v8.4.12
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update commitlint monorepo
  package.json
  yarn.lock
Labels: none

feat: upgrade puppeteer to v13
  examples/html/acot.config.js
  examples/html/package.json
  examples/storybook5/package.json
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/config/src/validator/config.validator.ts
  packages/core/package.json
  packages/document/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: A-example, A-foundation, A-utilities, A-runner

fix: update aom feature flag
  packages/core/src/__tests__/browser-pool.test.ts
  packages/core/src/browser-pool.ts
Labels: A-foundation

test: fix `link-has-name` test cases
  packages/acot-preset-wcag/docs/rules/link-has-name.md
Labels: A-documentation, A-preset
