Repository acot-a11y/acot, changes with the labels that .github/labeler.yml gives for each.
All labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

chore: switch to fixed mode from independent mode
  lerna.json
Labels: none

chore: update dependency tailwindcss to v2.1.1
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency typescript to v4.2.4
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/node-fetch to v2.5.10
  packages/acot-runner-sitemap/package.json
  yarn.lock
Labels: A-runner

chore: update dependency eslint-plugin-jest to v24.3.5
  package.json
  yarn.lock
Labels: none

chore: update dependency scaffdog to v1.0.1
  package.json
  yarn.lock
Labels: none

docs: tweak
  README.md
Labels: A-documentation

chore: update dependency postcss to v8.2.10
  packages/document/package.json
  yarn.lock
Labels: A-foundation

docs: add develop-guide
  README.md
  docs/README.md
  docs/developer-guide.md
  docs/developer-guide/README.md
  docs/developer-guide/preset.md
  docs/developer-guide/reporter.md
  docs/developer-guide/rule.md
  docs/developer-guide/runner.md
  docs/developer-guide/sharable-configs.md
  packages/acot-preset-wcag/README.md
Labels: A-documentation, A-preset

chore: fix publish config
  packages/acot-config/package.json
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/package.json
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-pretty/package.json
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/acot-runner/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/connection/package.json
  packages/core/package.json
  packages/document/package.json
  packages/factory/package.json
  packages/find-chrome/package.json
  packages/html-pickup/package.json
  packages/logger/package.json
  packages/mock/package.json
  packages/module-loader/package.json
  packages/reporter/package.json
  packages/runner/package.json
  packages/schema-validator/package.json
  packages/types/package.json
  packages/utils/package.json
Labels: A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

chore: update typescript-eslint monorepo to v4.22.0
  package.json
  yarn.lock
Labels: none

chore: update dependency eslint-config-prettier to v8.2.0
  package.json
  yarn.lock
Labels: none

chore: update dependency eslint to v7.24.0
  package.json
  yarn.lock
Labels: none

fix: update dependency indent-string to v5
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-pretty/package.json
  packages/document/package.json
  packages/logger/package.json
  packages/reporter/package.json
  yarn.lock
Labels: A-foundation, A-reporter

chore: update dependency husky to v6
  package.json
  yarn.lock
Labels: none

chore: husky v6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Labels: none

feat(acot-runner-storybook): add `timeout` options
  packages/acot-runner-storybook/README.md
  packages/acot-runner-storybook/src/index.ts
Labels: A-documentation, A-runner

feat(acot-runner-sitemap): add `timeout` options
  packages/acot-runner-sitemap/README.md
  packages/acot-runner-sitemap/src/index.ts
Labels: A-documentation, A-runner

fix: update dependency is-ci to v3
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

fix: update dependency @types/json-schema to ^7.0.6
  packages/schema-validator/package.json
Labels: A-utilities

fix: update dependency camaro to ^6.1.0
  packages/acot-runner-sitemap/package.json
  yarn.lock
Labels: A-runner

fix: update dependency chokidar to ^3.5.1
  packages/cli/package.json
Labels: A-foundation

fix: update dependency fast-glob to ^3.2.4
  packages/cli/package.json
  packages/document/package.json
  yarn.lock
Labels: A-foundation

fix: update dependency fastify to ^3.9.2
  packages/document/package.json
  yarn.lock
Labels: A-foundation

fix: update dependency lodash to ^4.17.20
  packages/acot-runner-sitemap/package.json
  packages/core/package.json
Labels: A-foundation, A-runner

fix: update dependency unist-util-visit-parents to v4
  packages/document/package.json
  yarn.lock
Labels: A-foundation

fix: update dependency puppeteer-core to v9
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/core/package.json
  packages/document/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-runner

chore: update dependency puppeteer to v9
  packages/core/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency ts-jest to v26.5.6
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/jest to v26.0.23
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/listr to v0.14.3
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

fix: update dependency type-fest to v1
  package.json
  packages/cli/package.json
  packages/document/package.json
  packages/factory/package.json
  packages/types/package.json
  yarn.lock
Labels: A-foundation

feat: connection url includes path
  packages/acot-runner/src/index.ts
Labels: A-runner

chore: update commitlint monorepo to v12.1.4
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/listr to v0.14.4
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency @types/lodash to v4.14.172
  packages/acot-runner-sitemap/package.json
  packages/core/package.json
  yarn.lock
Labels: A-foundation, A-runner

chore: update dependency mock-fs to v4.14.0
  package.json
  yarn.lock
Labels: none

chore: update dependency postcss to v8.3.6
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency @types/mustache to v4.1.2
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: publish
  CHANGELOG.md
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  lerna.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-runner-sitemap/CHANGELOG.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/CHANGELOG.md
  packages/acot-runner-storybook/package.json
  packages/acot-runner/CHANGELOG.md
  packages/acot-runner/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Labels: A-documentation, A-example, A-foundation, A-config, A-preset, A-runner

.github/labeler.yml:

A-documentation:
  - '**/*.md'
  - 'docs/**'

A-example:
  - 'examples/**'

A-foundation:
  - 'packages/cli/**'
  - 'packages/config/**'
  - 'packages/connection/**'
  - 'packages/core/**'
  - 'packages/document/**'
  - 'packages/factory/**'
  - 'packages/logger/**'
  - 'packages/module-loader/**'
  - 'packages/reporter/**'
  - 'packages/runner/**'
  - 'packages/types/**'

A-utilities:
  - 'packages/find-chrome/**'
  - 'packages/html-pickup/**'
  - 'packages/mock/**'
  - 'packages/schema-validator/**'
  - 'packages/utils/**'

A-config:
  - 'packages/acot-config/**'
  - 'packages/acot-config-*/**'

A-preset:
  - 'packages/acot-preset-*/**'

A-runner:
  - 'packages/acot-runner/**'
  - 'packages/acot-runner-*/**'

A-reporter:
  - 'packages/acot-reporter/**'
  - 'packages/acot-reporter-*/**'
