Repository acot-a11y/acot, changes with the labels that .github/labeler.yml gives for each.
All labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

feat(core): add chromium auto detection for `BrowserPool`
  packages/core/README.md
  packages/core/package.json
  packages/core/src/__tests__/browser-pool.test.ts
  packages/core/src/browser-pool.ts
  packages/document/src/doc-tester.ts
Labels: A-documentation, A-foundation

feat(cli): add `@acot/sitemap` to init sub-command
  packages/cli/src/commands/init.ts
Labels: A-foundation

chore: publish
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-reporter-dot/CHANGELOG.md
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-pretty/CHANGELOG.md
  packages/acot-reporter-pretty/package.json
  packages/acot-runner-sitemap/CHANGELOG.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/CHANGELOG.md
  packages/acot-runner-storybook/package.json
  packages/acot-runner/CHANGELOG.md
  packages/acot-runner/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/connection/CHANGELOG.md
  packages/connection/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/document/CHANGELOG.md
  packages/document/package.json
  packages/factory/CHANGELOG.md
  packages/factory/package.json
  packages/mock/CHANGELOG.md
  packages/mock/package.json
  packages/reporter/CHANGELOG.md
  packages/reporter/package.json
  packages/runner/CHANGELOG.md
  packages/runner/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

fix: h1
  packages/acot-runner-sitemap/README.md
Labels: A-documentation, A-runner

feat(connection): use `GET` request instead of `HEAD` request #34
  packages/connection/src/index.ts
Labels: A-foundation

chore: publish
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-runner-sitemap/CHANGELOG.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/CHANGELOG.md
  packages/acot-runner-storybook/package.json
  packages/acot-runner/CHANGELOG.md
  packages/acot-runner/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/connection/CHANGELOG.md
  packages/connection/package.json
Labels: A-documentation, A-example, A-foundation, A-config, A-preset, A-runner

chore: tweak
  scripts/publish.sh
Labels: none

chore: bump `scaffdog` to `1.0.0`
  .scaffdog/1.package.md
  .scaffdog/config.js
  package.json
  yarn.lock
Labels: A-documentation

chore: tweak
  .github/workflows/ci.yml
  scripts/publish.sh
Labels: none

chore: tweak
  .github/workflows/ci.yml
Labels: none

chore: tweak
  .github/workflows/ci.yml
Labels: none

chore: publish
  examples/html/CHANGELOG.md
  examples/html/package.json
  examples/storybook5/CHANGELOG.md
  examples/storybook5/package.json
  packages/acot-config/CHANGELOG.md
  packages/acot-config/package.json
  packages/acot-preset-axe/CHANGELOG.md
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/CHANGELOG.md
  packages/acot-preset-wcag/package.json
  packages/acot-runner-sitemap/CHANGELOG.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/CHANGELOG.md
  packages/acot-runner-storybook/package.json
  packages/acot-runner/CHANGELOG.md
  packages/acot-runner/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/connection/CHANGELOG.md
  packages/connection/package.json
Labels: A-documentation, A-example, A-foundation, A-config, A-preset, A-runner

chore: tweak
  .github/workflows/ci.yml
Labels: none

feat(core): switch to `help` from `tags`
  packages/acot-preset-axe/src/create-rule.ts
  packages/acot-preset-wcag/docs/rules/interactive-has-enough-size.md
  packages/acot-preset-wcag/src/rules/dialog-focus.ts
  packages/acot-preset-wcag/src/rules/focusable-has-indicator.ts
  packages/acot-preset-wcag/src/rules/img-has-name.ts
  packages/acot-preset-wcag/src/rules/interactive-has-enough-size.ts
  packages/acot-preset-wcag/src/rules/interactive-has-name.ts
  packages/acot-preset-wcag/src/rules/link-has-name.ts
  packages/acot-preset-wcag/src/rules/page-has-title.ts
  packages/acot-preset-wcag/src/rules/page-has-valid-lang.ts
  packages/acot-reporter-dot/src/index.ts
  packages/acot-reporter-pretty/src/index.ts
  packages/core/src/__tests__/rule-context.test.ts
  packages/core/src/rule-context.ts
  packages/core/src/tester.ts
  packages/factory/src/result.ts
  packages/types/src/result.ts
  packages/types/src/rule.ts
Labels: A-documentation, A-foundation, A-preset, A-reporter

chore: add renovate configuration
  renovate.json
Labels: none

chore: pin dependencies
  package.json
  packages/acot-preset-wcag/package.json
  packages/acot-reporter-pretty/package.json
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-storybook/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/connection/package.json
  packages/core/package.json
  packages/document/package.json
  packages/reporter/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: A-foundation, A-utilities, A-preset, A-runner, A-reporter

chore: update actions/setup-node action to v2
  .github/workflows/ci.yml
Labels: none

fix: update dependency css-select to v3
  packages/html-pickup/package.json
  yarn.lock
Labels: A-utilities

fix: update dependency execa to v5
  packages/cli/package.json
  packages/connection/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency @acot/tsconfig to v0.1.0
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/jest to v26.0.20
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/lodash to v4.14.168
  packages/acot-runner-sitemap/package.json
  packages/core/package.json
  yarn.lock
Labels: A-foundation, A-runner

chore: update dependency @types/mustache to v4.1.1
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency @types/node to v14.14.22
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/node-fetch to v2.5.8
  packages/acot-runner-sitemap/package.json
  yarn.lock
Labels: A-runner

chore: update dependency @types/validator to v13.1.3
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency husky to v4.3.8
  package.json
  yarn.lock
Labels: none

chore: update dependency postcss to v8.2.4
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency prettier-plugin-packagejson to v2.2.9
  package.json
  yarn.lock
Labels: none

chore: update dependency eslint-config-prettier to v7
  package.json
  yarn.lock
Labels: none

chore: update typescript-eslint monorepo to v4.14.1
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/puppeteer-core to v5
  packages/core/package.json
  packages/document/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: A-foundation, A-utilities

chore: update dependency eslint to v7.18.0
  package.json
  yarn.lock
Labels: none

fix: update dependency path-type to v5
  packages/config/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency @types/yargs to v15.0.13
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency ts-jest to v26.5.0
  package.json
  yarn.lock
Labels: none

fix: update dependency ajv to v7
  packages/config/package.json
  yarn.lock
Labels: A-foundation

fix: update dependency boxen to v5
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-pretty/package.json
  packages/cli/package.json
  packages/reporter/package.json
  yarn.lock
Labels: A-foundation, A-reporter

feat(document): add `pattern` to specify test target
  packages/cli/src/commands/preset-test.ts
  packages/document/package.json
  packages/document/src/doc-tester.ts
Labels: A-foundation

docs: add runner documentation
  README.md
  packages/acot-preset-axe/README.md
  packages/acot-preset-wcag/README.md
  packages/acot-runner-sitemap/README.md
  packages/acot-runner-storybook/README.md
Labels: A-documentation, A-preset, A-runner

.github/labeler.yml:

A-documentation:
  - '**/*.md'
  - 'docs/**'

A-example:
  - 'examples/**'

A-foundation:
  - 'packages/cli/**'
  - 'packages/config/**'
  - 'packages/connection/**'
  - 'packages/core/**'
  - 'packages/document/**'
  - 'packages/factory/**'
  - 'packages/logger/**'
  - 'packages/module-loader/**'
  - 'packages/reporter/**'
  - 'packages/runner/**'
  - 'packages/types/**'

A-utilities:
  - 'packages/find-chrome/**'
  - 'packages/html-pickup/**'
  - 'packages/mock/**'
  - 'packages/schema-validator/**'
  - 'packages/utils/**'

A-config:
  - 'packages/acot-config/**'
  - 'packages/acot-config-*/**'

A-preset:
  - 'packages/acot-preset-*/**'

A-runner:
  - 'packages/acot-runner/**'
  - 'packages/acot-runner-*/**'

A-reporter:
  - 'packages/acot-reporter/**'
  - 'packages/acot-reporter-*/**'
