Repository acot-a11y/acot, changes with the labels that .github/labeler.yml gives for each.
All labels: A-documentation, A-example, A-foundation, A-utilities, A-config, A-preset, A-runner, A-reporter

fix(acot-reporter-pretty): fix stat bugs in testcase summary
  packages/acot-reporter-pretty/src/index.ts
Labels: A-reporter

feat(cli): add `parallel` option to `preset test` command
  packages/cli/README.md
  packages/cli/src/commands/preset-test.ts
Labels: A-documentation, A-foundation

fix(cli): support non TTY environment on `preset test`
  packages/cli/src/commands/preset-test.ts
Labels: A-foundation

chore: update dependency @types/node to v14.18.18
  package.json
  yarn.lock
Labels: none

feat(acot-runner-sitemap): add retry behavior to sitemap fetcher
  packages/acot-runner-sitemap/README.md
  packages/acot-runner-sitemap/package.json
  packages/acot-runner-sitemap/src/__tests__/index.test.ts
  packages/acot-runner-sitemap/src/index.ts
  yarn.lock
Labels: A-documentation, A-runner

chore: update dependency @types/prettier to v2.6.1
  packages/cli/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency prettier-plugin-packagejson to v2.2.18
  package.json
  yarn.lock
Labels: none

chore: update dependency turbo to v1.2.9
  package.json
  yarn.lock
Labels: none

chore: update dependency @commitlint/cli to v16.3.0
  package.json
  yarn.lock
Labels: none

chore: update dependency eslint-plugin-jest to v26.2.2
  package.json
  yarn.lock
Labels: none

chore: update typescript-eslint monorepo to v5.25.0
  package.json
  yarn.lock
Labels: none

chore: update dependency @types/node to v16
  package.json
  yarn.lock
Labels: none

chore: update dependency execa to v6
  packages/cli/package.json
  packages/connection/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency postcss to v8.4.14
  packages/document/package.json
  yarn.lock
Labels: A-foundation

chore: update dependency lint-staged to v12
  package.json
  yarn.lock
Labels: none

chore(acot-preset-wcag): migrate to scaffdog v1
  packages/acot-preset-wcag/.scaffdog/01-rule.md
  packages/acot-preset-wcag/.scaffdog/config.js
Labels: A-documentation, A-preset

feat(acot-preset-wcag): add `invalid-id-reference` rule
  packages/acot-preset-wcag/README.md
  packages/acot-preset-wcag/docs/rules/invalid-id-reference.md
  packages/acot-preset-wcag/src/configs/recommended.ts
  packages/acot-preset-wcag/src/rules/index.ts
  packages/acot-preset-wcag/src/rules/invalid-id-reference.ts
Labels: A-documentation, A-preset

chore: update dependency boxen to v6
  packages/acot-reporter-dot/package.json
  packages/acot-reporter-pretty/package.json
  packages/cli/package.json
  packages/reporter/package.json
  yarn.lock
Labels: A-foundation, A-reporter

fix: setup when 'storyStoreV7' is enabled
  examples/storybook6-store-v7/.storybook/main.js
  examples/storybook6-store-v7/.storybook/preview.js
  examples/storybook6-store-v7/package.json
  examples/storybook6-store-v7/stories/Button.jsx
  examples/storybook6-store-v7/stories/Button.stories.jsx
  examples/storybook6-store-v7/stories/Header.jsx
  examples/storybook6-store-v7/stories/Header.stories.jsx
  examples/storybook6-store-v7/stories/Introduction.stories.mdx
  examples/storybook6-store-v7/stories/Page.jsx
  examples/storybook6-store-v7/stories/Page.stories.jsx
  examples/storybook6-store-v7/stories/assets/code-brackets.svg
  examples/storybook6-store-v7/stories/assets/colors.svg
  examples/storybook6-store-v7/stories/assets/comments.svg
  examples/storybook6-store-v7/stories/assets/direction.svg
  examples/storybook6-store-v7/stories/assets/flow.svg
  examples/storybook6-store-v7/stories/assets/plugin.svg
  examples/storybook6-store-v7/stories/assets/repo.svg
  examples/storybook6-store-v7/stories/assets/stackalt.svg
  examples/storybook6-store-v7/stories/button.css
  examples/storybook6-store-v7/stories/header.css
  examples/storybook6-store-v7/stories/page.css
  packages/acot-runner-storybook/src/index.ts
Labels: A-example, A-runner

.github/labeler.yml:

A-documentation:
  - '**/*.md'
  - 'docs/**'

A-example:
  - 'examples/**'

A-foundation:
  - 'packages/cli/**'
  - 'packages/config/**'
  - 'packages/connection/**'
  - 'packages/core/**'
  - 'packages/document/**'
  - 'packages/factory/**'
  - 'packages/logger/**'
  - 'packages/module-loader/**'
  - 'packages/reporter/**'
  - 'packages/runner/**'
  - 'packages/types/**'

A-utilities:
  - 'packages/find-chrome/**'
  - 'packages/html-pickup/**'
  - 'packages/mock/**'
  - 'packages/schema-validator/**'
  - 'packages/utils/**'

A-config:
  - 'packages/acot-config/**'
  - 'packages/acot-config-*/**'

A-preset:
  - 'packages/acot-preset-*/**'

A-runner:
  - 'packages/acot-runner/**'
  - 'packages/acot-runner-*/**'

A-reporter:
  - 'packages/acot-reporter/**'
  - 'packages/acot-reporter-*/**'
