Repository acot-a11y/acot, pull requests merged in 2020-12, with the labels that each got.

#13 Fix trivial typos in README.md
  README.md
Labels: A-documentation

#15 Fix rule tester bug
  package.json
  packages/cli/package.json
  packages/cli/src/commands/preset-test.ts
  packages/config/src/validator/config.validator.ts
  packages/core/src/__tests__/browser-pool.test.ts
  packages/core/src/__tests__/browser.test.ts
  packages/core/src/acot.ts
  packages/core/src/browser-pool.ts
  packages/core/src/browser.ts
  packages/document/package.json
  packages/document/src/doc-tester.ts
  packages/factory/package.json
  packages/types/package.json
  packages/types/src/config.ts
  yarn.lock
Labels: A-foundation

#16 feat(cli): Skip ask about puppeteer if installed
  packages/cli/src/commands/init.ts
Labels: A-foundation

#17 feat(cli): Improve UX for init sub-command
  packages/cli/src/commands/init.ts
Labels: A-foundation

#18 feat(*): Improve progress display (pretty reporter)
  packages/core/src/acot.ts
  packages/core/src/tester.ts
  packages/reporter/src/reporters/pretty.ts
  packages/runner/src/base.ts
  packages/types/src/core.ts
  packages/types/src/runner.ts
Labels: A-foundation

#19 Add rule result for pretty reporter
  packages/cli/README.md
  packages/cli/src/commands/run.ts
  packages/core/src/__tests__/rule-context.test.ts
  packages/core/src/acot.ts
  packages/core/src/rule-context.ts
  packages/core/src/tester.ts
  packages/core/src/timing-tracker.ts
  packages/core/src/timing.ts
  packages/factory/src/merge.ts
  packages/factory/src/result.ts
  packages/factory/src/stat.ts
  packages/factory/src/summary.ts
  packages/reporter/package.json
  packages/reporter/src/reporters/pretty.ts
  packages/types/src/index.ts
  packages/types/src/result.ts
  packages/types/src/stat.ts
  packages/types/src/summary.ts
  packages/types/src/timing.ts
  yarn.lock
Labels: A-foundation

#20 Rule List styles
  .prettierignore
  package.json
  packages/acot-preset-axe/package.json
  packages/acot-preset-wcag/package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/preset-serve.ts
  packages/document/.gitignore
  packages/document/package.json
  packages/document/postcss.config.js
  packages/document/src/doc-server.ts
  packages/document/styles/styles.css
  packages/document/tailwind.config.js
  packages/document/templates/assets/favicon.ico
  packages/document/templates/index.html
  yarn.lock
Labels: A-foundation

#21 feat(cli): add update-notifier
  packages/cli/package.json
  packages/cli/src/bin.ts
  yarn.lock
Labels: A-foundation

#22 Add coverage WCAG 2.1 by acot-preset-wcag
  packages/acot-preset-wcag/README.md
Labels: A-documentation

#27 refactor: integrate the `@acot/mock-logger` package into　`@acot/mock`
  packages/cli/package.json
  packages/cli/src/__mocks__/logger.ts
  packages/cli/src/__tests__/cli.test.ts
  packages/cli/src/commands/__tests__/help.test.ts
  packages/cli/src/commands/__tests__/preset.test.ts
  packages/cli/src/commands/__tests__/version.test.ts
  packages/core/package.json
  packages/core/src/__mocks__/logger.ts
  packages/mock-logger/.gitignore
  packages/mock-logger/CHANGELOG.md
  packages/mock-logger/package.json
  packages/mock-logger/src/__tests__/index.test.ts
  packages/mock-logger/tsconfig.json
  packages/mock/src/index.ts
  packages/mock/src/logger.ts
Labels: A-foundation

#28 feat(cli): add `--(reporter|runner)-with` options
  docs/configuration.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/run.ts
Labels: A-documentation, A-foundation
