Repository acot-a11y/acot, pull requests merged in 2020-11, with the labels that each got.

#4 Fix a bug that `BrowserPool` hangs
  packages/connection/src/index.ts
  packages/core/src/__tests__/browser-pool.test.ts
  packages/core/src/__tests__/browser.test.ts
  packages/core/src/acot.ts
  packages/core/src/browser-pool.ts
  packages/core/src/browser.ts
  packages/core/src/tester.ts
  packages/runner/src/base.ts
Labels: A-foundation

#5 feat(core): Performance improvements with immutable rules
  packages/acot-preset-axe/src/create-rule.ts
  packages/acot-preset-wcag/src/rules/interactive-has-enough-size.ts
  packages/acot-preset-wcag/src/rules/page-has-title.ts
  packages/core/package.json
  packages/core/src/__tests__/browser-pool.test.ts
  packages/core/src/__tests__/queue.test.ts
  packages/core/src/acot.ts
  packages/core/src/browser-pool.ts
  packages/core/src/queue.ts
  packages/core/src/tester.ts
  packages/types/src/rule.ts
  yarn.lock
Labels: A-foundation

#7 Add dialog-focus rule
  packages/acot-preset-wcag/docs/rules/dialog-focus.md
  packages/acot-preset-wcag/src/rules/dialog-focus.ts
  packages/acot-preset-wcag/src/rules/index.ts
  packages/acot-preset-wcag/src/rules/interactive-has-name.ts
  packages/types/src/browser.ts
  packages/types/src/index.ts
Labels: A-foundation

#8 refactor(core): Improve process handling
  packages/connection/src/index.ts
  packages/core/package.json
  packages/core/src/__tests__/browser-pool.test.ts
  packages/core/src/acot.ts
  packages/core/src/browser-pool.ts
  packages/core/src/queue.ts
  packages/core/src/tester.ts
  packages/runner/src/__mocks__/core.ts
  packages/runner/src/__tests__/base.test.ts
  packages/runner/src/base.ts
  packages/types/src/core.ts
  packages/types/src/runner.ts
  yarn.lock
Labels: A-foundation

#9 feat(runner-storybook): Add filter options for storybook runner
  examples/storybook5/package.json
  examples/storybook5/stories/3-exclude.stories.jsx
  packages/acot-runner-storybook/package.json
  packages/acot-runner-storybook/src/index.ts
  yarn.lock
Labels: A-example, A-runner

#10 feat(cli): Add filter logic to debug flag
  packages/cli/src/cli.ts
  packages/cli/src/commands/__tests__/__snapshots__/help.test.ts.snap
  packages/cli/src/global-options.ts
  packages/core/src/rule-context.ts
Labels: A-foundation

#11 fix(runner-storybook): Wait for configuring store
  packages/acot-runner-storybook/src/index.ts
Labels: A-runner
