Repository acot-a11y/acot, pull requests merged in 2021-01, with the labels that each got.

#30 Remove rule type (contextual/global)
  .github/CODEOWNERS
  .github/labeler.yml
  packages/acot-preset-axe/src/create-rule.ts
  packages/acot-preset-wcag/.scaffdog/01-rule.md
  packages/acot-preset-wcag/src/rules/dialog-focus.ts
  packages/acot-preset-wcag/src/rules/focusable-has-indicator.ts
  packages/acot-preset-wcag/src/rules/img-has-name.ts
  packages/acot-preset-wcag/src/rules/index.ts
  packages/acot-preset-wcag/src/rules/interactive-has-enough-size.ts
  packages/acot-preset-wcag/src/rules/interactive-has-name.ts
  packages/acot-preset-wcag/src/rules/interactive-supports-focus.ts
  packages/acot-preset-wcag/src/rules/link-has-name.ts
  packages/acot-preset-wcag/src/rules/page-has-title.ts
  packages/acot-preset-wcag/src/rules/page-has-valid-lang.ts
  packages/core/src/__tests__/rule-store.test.ts
  packages/core/src/rule.ts
  packages/core/src/tester.ts
  packages/document/src/__tests__/doc-generator.test.ts
  packages/types/src/rule.ts
Labels: A-foundation

#31 Add chromium auto detection for `BrowserPool`
  packages/core/README.md
  packages/core/package.json
  packages/core/src/__tests__/browser-pool.test.ts
  packages/core/src/browser-pool.ts
  packages/document/src/doc-tester.ts
Labels: A-documentation, A-foundation

#32 feat(cli): add `@acot/sitemap` to init sub-command
  packages/cli/src/commands/init.ts
Labels: A-foundation

#33 fix @acot/acot-runner-sitemap readme heading
  packages/acot-runner-sitemap/README.md
Labels: A-documentation, A-runner

#35 Use `GET` request instead of `HEAD` request
  packages/connection/src/index.ts
Labels: A-foundation

#36 Switch to `help` from `tags`
  packages/acot-preset-axe/src/create-rule.ts
  packages/acot-preset-wcag/docs/rules/interactive-has-enough-size.md
  packages/acot-preset-wcag/src/rules/dialog-focus.ts
  packages/acot-preset-wcag/src/rules/focusable-has-indicator.ts
  packages/acot-preset-wcag/src/rules/img-has-name.ts
  packages/acot-preset-wcag/src/rules/interactive-has-enough-size.ts
  packages/acot-preset-wcag/src/rules/interactive-has-name.ts
  packages/acot-preset-wcag/src/rules/link-has-name.ts
  packages/acot-preset-wcag/src/rules/page-has-title.ts
  packages/acot-preset-wcag/src/rules/page-has-valid-lang.ts
  packages/acot-reporter-dot/src/index.ts
  packages/acot-reporter-pretty/src/index.ts
  packages/core/src/__tests__/rule-context.test.ts
  packages/core/src/rule-context.ts
  packages/core/src/tester.ts
  packages/factory/src/result.ts
  packages/types/src/result.ts
  packages/types/src/rule.ts
Labels: A-documentation, A-foundation, A-preset, A-reporter

#63 Add `pattern` to specify test target
  packages/cli/src/commands/preset-test.ts
  packages/document/package.json
  packages/document/src/doc-tester.ts
Labels: A-foundation

#64 Add runner documentation
  README.md
  packages/acot-preset-axe/README.md
  packages/acot-preset-wcag/README.md
  packages/acot-runner-sitemap/README.md
  packages/acot-runner-storybook/README.md
Labels: A-documentation, A-preset, A-runner
